# Dependencies
node_modules/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*

# Build / temp
coverage/
dist/
.tmp/
tmp/
*.pid
